body {
	margin: auto;
	padding: 20px;
	font-family: sans-serif;
	max-width: 80ch;
	background-color: #FFF3E6;
	color: #6E4516;
}
ul.navbar {
	padding: 0;
}
.navbar li {
	display: inline;
	border-right: 2px solid black;
	padding-right: 10px;
	padding-left: 10px;
}
.navbar li:last-child { 
	border: none;
}

.navbar li:first-child {
	padding-left: 0;
}

a {
	color: #2B576A;
	text-decoration:none;
}
