---
title: garden.delyo.be
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="Delyo's garden" href="feed.xml" />
	<link rel="stylesheet" type="text/css" href="/css/style.css"> 
    <title>{{ title }}</title>
  </head>
  <body>
  <header>
	<h1>{{ title }} .delyo .be</h1>
	<ul class="navbar"><li><a href="/">Home</a></li><li><a href="/honeysuckle">Rants</a></li><li><a href="/walnut">Tinylog</a></li><li><a href="/codaryocalyx">Music</a></li><li><a href="/rootstalks">Links</a></li><li><a href="http://garden.delyo.be/feed.xml"><img src="/img/rss-brown.png" width="20" style="position:relative; top:4px;"/> Feed</a></li></ul>
    </header>
    <main>
        {{ content | safe }}
    </main>
	<h4>Feedback</h4>
	<p>If you have any thoughts or comments about this site or about an article, I'd love to hear your feedback! <br> Email me at sayhi [at] delyo [dot] be or on <a href="https://mastodon.social/@dobody">Mastodon</a></p>
  </body>
</html>
