---
title: garden.delyo.be
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/style.css"> 
    <title>{{ title }}</title>
  </head>
  <body>
  <div class="main">
	<h1>{{ title }}</h1>
	<ul><li><a href="/">Home</a></li><li><a href="/honeysuckle">Rants</a></li><li><a href="/walnut">Thoughts</a></li><li><a href="/codaryocalyx">Music</a></li></ul>	
    {{ content | safe }}
    </div>
  </body>
</html>
